@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-grayish-blue);
}

main {
  display: grid;
  grid-gap: 2rem;
  margin: 4rem 2rem;
}

article {
  display: flex;
  flex-direction: column;
  padding: 2rem 2.4rem;
  border-radius: 0.5rem;
  gap: 1.38rem;
}

article.purple {
  background-color: var(--moderate-violet);
  color: var(--white);
  position: relative;
  z-index: 1;
}

article.purple::before {
  content: "";
  position: absolute;
  top: 0;
  right: 10%;
  width: 104px;
  height: 102px;
  background-image: url("./images/bg-pattern-quotation.svg");
  z-index: -1;
}

article p.transparent_50 {
  opacity: 0.5;
}

article p.transparent_70 {
  opacity: 0.7;
}

article.blue {
  background-color: var(--very-dark-grayish-blue);
}

article.black {
  background-color: var(--very-dark-blackish-blue);
}

article.white {
  background-color: var(--white);
  color: var(--very-dark-blackish-blue);
}

article figure {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

article figure img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1.5px solid hsla(0, 0%, 81%, 0.5);
}

article blockquote {
  display: flex;
  flex-direction: column;
  gap: 1.23rem;
}

article blockquote p:first-of-type {
  font-size: 1.53rem;
  font-weight: 600;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1110px;
    margin: 12.4rem auto;
    padding: 2rem;
  }

  article.purple {
    grid-column: span 2;
    grid-row: span 1;
  }

  article.black {
    grid-column: 2 / span 2;
  }

  article.white.long {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
}
